/*p { color: red;} /* this whole structure is called a rule "p" is the selector declaration:property:value; with property is color and the value is red */
                   /* each rule must be wrapped in curly brace {} , within each declaration , ":" to separate the property from the value */
                   /* within each rule set , use ";" to separate each declaration from the next one*/

/* types of selectors
   ******************
   element selector : per example selects <p>
   ID selector : #my-id selects <p id="my-id"> or <a id="my-id"> , note that an ID can have only one element
   Class selector : .my-classe selects <p class="my-classe"> and <a class="my-classe"> , note multiple class instances can appear on a page
   Attribute selector : img[src] selects <img src="image.jpg">and not <img> , selects the element on the page with the specified attribute
   Pseudo class selector : selects the specified element , but only when in the specified state , e.g. being hovered over . a:hover selectors <a>
   Only when the mouse pointer is hovering over the link.
   ******************
*/


html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Titillium Web;
  background-color: #111;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #AD361E;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #111;
  text-shadow: 2px 2px 1px #111;
}
img {
  display: block;
  margin: 0 auto;
}
